@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes movePopupImage {
    0% {
      transform: translateX(0);
    }

    20% {
        transform: translateX(100%);
    }

    50% {
        transform: translateX(100%);
    }

    70% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(200%);
    }
}