.footer {
    background-color: $color-grey-dark-3;
    color: $color-grey-light-1;
    padding: 8rem 2rem;
    font-size: 0;
    line-height: 2.5rem;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__content {
        width: 100%;
    }

    &__navigation {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        padding-right: 10%;
        font-size: 1.4rem;
    }

    &__list {
        display: inline-block;
        list-style: none;
        border-top: 1px solid $color-grey-dark;
        padding-top: 2rem;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            color: $color-grey-light-1;
            background-color: $color-grey-dark-3;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .2s;
        }

        &:hover,
        &:active {
            color: $color-primary;
            //box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(2deg) scale(1.15);
        }
    }

    &__copyright {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-left: 10%;
        text-align: right;
        font-size: 1.4rem;

        p {
            display: inline-block;
            border-top: 1px solid $color-grey-dark;
            padding-top: 2rem;
        }
    }

    @include respond($tablet-portrait) {
        padding: 6rem 2rem;

        &__logo-box {
            margin-bottom: 5rem;
        }

        &__navigation,
        &__copyright {
            width: 100%;
            text-align: center;
            padding: 0;
        }

        &__navigation {
            margin-bottom: 5rem;
        }
    }
}